.links-white-medium {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.links-white-medium:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #99cc00; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.txt-dark-medium {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txt-light-medium {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.txt-light-medium2 {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-dark-medium2 {
	FONT-SIZE: 11px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-dark-big {
	FONT-SIZE: 20px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-dark-medium3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-blue-bright {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #0000ff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-dark-medium4 {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.text-dark-medium {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.text-dark-medium {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.links-dark-medium {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.links-dark-medium:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.links-headline {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 19px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.links-headline:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; WIDTH: 100%; COLOR: #666666; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.links-white-small {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.txt-light-small {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%
}
.txt-dark-small {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.links-dark-small {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.txt-dark-medium5 {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-dark-big2 {
	FONT-SIZE: 20px; COLOR: #1d94e9; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.txt-dark-big3 {
	FONT-SIZE: 20px; COLOR: #1a1a1b; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.links-dark-medium2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: underline
}
.txt-light-big {
	FONT-SIZE: 17px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.links-white-small:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; WIDTH: 100%; COLOR: #cccccc; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.links-dark-medium2 {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; WIDTH: 100%; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 100%; TEXT-DECORATION: none
}
.txt-dark-medium6 {
	FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
